body {
  margin: 0;
  padding: 0;
  background: #000000;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controllers {
  text-align: center;
  padding: 10px;
}

.button {
  font-family: 'Rakkas', cursive;
  border: none;
  background-color: #E8F6F7;
  color: #9DC3C1;
  border-radius: 16px;
  padding: 8px 20px;
  cursor: pointer;
  margin: 10px;
}

.herotext {
  z-index: -1;
  font-family: Rakkas;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  
  position: absolute;
  width: 595px;
  height: 209px;
  right: 25vw;
  top: 38vh;

  color: #F7F7F7;
  margin: 5vh;
}